{% extends "account/allauth_base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load account %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

    <form class="password_change" method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% buttons %}
        <a class="btn btn-link" href="{% url 'home' %}">Cancel</a>
        <button type="submit" class="btn btn-primary" >Change Password</button>
    {% endbuttons %}
    </form>

{% endblock %}
