{% extends "account/allauth_base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

    {% buttons %}
    <a class="btn btn-link" href="{% url 'account_login' %}">Back to login</a>
    {% endbuttons %}

{% endblock %}
