{% extends "account/allauth_base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <a class="btn btn-link" href="{% url 'account_login' %}">Back to login</a>
    <button type="submit" class="btn btn-primary" >Reset Your Password</button>
    {% endbuttons %}

    </form>

{% endblock %}
