{% extends "account/allauth_base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load account %}

{% block head_title %}Sign Up{% endblock %}

{% block content %}

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {% buttons %}
        <a class="btn btn-link" href="{% url 'account_login' %}">Back to login</a>
        <button type="submit" class="btn btn-primary" >Sign Up</button>
    {% endbuttons %}
    </form>

{% endblock %}
