th a {
    color:black;
    text-decoration: none;
}

.email {
    color:darkgray;
    text-decoration: underline;
    font-style: italic;
}

.required_field label:after {
    content:" *";
    color: red;
}


.error_field label {
    color: #333;
}

div.error_field {
    color: #a94442;
}

input.error_field,
select.error_field {
    border: 1px solid #a94442;
}

.error_field .invalid-feedback {
    padding: 8px;
}

.img-ab {
    max-width: 100%;
    max-height: auto;
}

.fa-search {
    display: inline !important;
}