{% extends 'base.html' %}
{% load static %}
{% block title %}
    Vehicle Detail
{% endblock %}

{% block content %}
    <h2>Vehicle Detail</h2>
    <br>
    <a href="{% url 'vehicle-update-view' vehicle.pk %}" class="btn btn-secondary">Edit</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset1">
            <p>VIN: {{vehicle.vin}}<br></p>
            <p>Make: {{vehicle.make}}<br></p>
            <p>Model: {{vehicle.model}}<br></p>
            <p>Year: {{vehicle.year}}<br></p>
             <p>Color: {{vehicle.color}}<br></p>
            <p>Reg. Number: {{vehicle.reg_number}}<br></p>

        </div>
        <div class="col-md-6 col-md-offset1">
            <img class="rounded" src="{{vehicle.imageURL}}" width="304" height="236" >
        </div>

    </div>
    <hr>

    <h2>Service History</h2>
    <br>
    <a href="" class="btn btn-primary">+ Add Service History</a>

    <br>
    <br>
    <div class="row">
        <div class="table-responsive">
            <table id="myTable" class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Serviced By</th>
                  <th>Serviced Date</th>
                </tr>
              </thead>
              <tbody>
                {% for service in vehicle.service_set.all%}
                <tr>
                   <td>{{service.name}}</td>
                   <td>{{service.desc}}</td>
                   <td>{{service.serviced_by}}</td>
                   <td>{{service.serviced_date}}</td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
        </div>
     </div>
    <br>
    <a href="{% url 'vehicle-list-view' %}" class="btn btn-dark">Close</a>
{%endblock %}
