{% extends 'base.html' %}
{% load static %}
{% block title %}
    Vehicle Detail
{% endblock %}

{% block content %}
    <h2>Vehicle Detail</h2>
    <br>
    <a href="{% url 'vehicle-update-view' vehicle.pk %}" class="btn btn-secondary">Edit</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset1">
            <p>VIN: {{vehicle.vin}}<br></p>
            <p>Make: {{vehicle.make}}<br></p>
            <p>Model: {{vehicle.model}}<br></p>
            <p>Year: {{vehicle.year}}<br></p>
             <p>Color: {{vehicle.color}}<br></p>
            <p>Reg. Number: {{vehicle.reg_number}}<br></p>

        </div>
        <div class="col-md-6 col-md-offset1">
            <img class="rounded" src="{{vehicle.imageURL}}" width="304" height="236" >
        </div>

    </div>
    <hr>

    <a href="" class="btn btn-primary">New Service History</a>
    <a href="{% url 'vehicle-list-view' %}" class="btn btn-dark">Close</a>
{%endblock %}
